.nbt-wrapper {
  max-width: 800px;
  margin: 0 auto;
}
.nbt-nav__list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.nbt-nav__list-item__link {
  padding: 1rem .5rem;
}
.nbt-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.nbt-post__featured-image {
  width: 100%;
  height: 300px;
}
.nbt-barking-news-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "feature-1 feature-1 side" "feature-2 feature-3 side";
}
.nbt-feature-1 {
  grid-area: feature-1;
}
.nbt-feature-2 {
  grid-area: feature-2;
}
.nbt-feature-3 {
  grid-area: feature-3;
}
.nbt-side {
  grid-area: side;
}
