<div>
  <h1 class="nbt-header">New Bark Times</h1>
  <nav class="nbt-nav">
    <ul class="nbt-nav__list">
      <li class="nbt-nav__list-item"><a class="nbt-nav__list-item__link" href="{% url "blog:barking_news" %}">Barking News</a></li>
      <li class="nbt-nav__list-item"><a class="nbt-nav__list-item__link" href="{% url "blog:sports" %}">Sports</a></li>
      <li class="nbt-nav__list-item"><a class="nbt-nav__list-item__link" href="">Paw-litics</a></li>
      <li class="nbt-nav__list-item"><a class="nbt-nav__list-item__link" href="">Weather</a></li>
      <li class="nbt-nav__list-item"><a class="nbt-nav__list-item__link" href="">Re-tail</a></li>
    </ul>
  </nav>
</div>
