{% load blog_tags %}
{% load static %}
{% load compress %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}New Bark Times</title>
  <link href="{% static "css/blog.css" %}" rel="stylesheet">
  {% compress css %}
    <link rel="stylesheet" type="text/less" media="all" href="{% static 'less/style.less' %}" />
  {% endcompress %}
</head>
<body>
  {% include "./includes/header.html" %}
  <div id="content">
    {% block content %}
    {% endblock %}
    <!-- <p>This is my blog. I've written {% total_posts %} posts so far.</p> -->
  </div>
  {% include "./includes/footer.html" %}
</body>
<script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="{% static "js/barking-news.js" %}"></script>
</html>
