{% extends "blog/base.html" %}

{% block title %}{% endblock %}

{% block content %}
  <div class="nbt-wrapper">
    {% if tag %}
      <h2>Posts tagged with "{{ tag.name }}"</h2>
    {% endif %}
    {{ featured }}
    <section class="nbt-barking-news-grid">
      {% for post in posts %}
        <div class="item nbt-masonry-tile" data-target="post" data-genres="{% for g in post.genre.all %}{{g.slug}}{% endfor %}">
          <div class="content">
            {% if post.featured_image %}
            <img class="nbt-post__featured-image post-image--tile" src="{{ post.featured_image.url }}" alt=""/>
            {% endif %}
            <div class="nbt-padding--small">
              <h2 class="nbt-text--no-top-margin">
                <a href="{{ post.get_absolute_url }}">
                  {{ post.title }}
                </a>
              </h2>
              <p class="nbt-masonry-tile__date">
                {{ post.publish|date:"F d, Y" }}
              </p>
              <p class="nbt-text--small">
                {% for genre in post.genre.all %}
                  {{ genre.title }}
                  {%if not forloop.last%}, {%endif%}
                {% endfor %}
              </p>
              {{ post.body|truncatewords:30|linebreaks }}
              <p class="nbt-masonry-tile__comment-count">
                {{ post.comments.count }} comment{{ post.comments.count|pluralize }}
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </section>
    {% include "../pagination.html" with page=posts %}
  </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  function filterPosts () {
      hash = window.location.hash
      let slug = hash.match(/[a-z]+-?[a-z]*/g)[0];
      document.querySelectorAll('[data-target="post"]').forEach(post => {
        post.classList.remove('hidden')

        if (!post.getAttribute('data-genres').includes(slug) && slug !== 'all') {
          post.classList.add('hidden')
        }
      });
    }

    window.addEventListener("hashchange", e => filterPosts());

    $(document).ready( () => {
      filterPosts()
    })
</script>
{% endblock %}
