{% extends "blog/base.html" %}

{% block title %}Search{% endblock %}

{% block content %}
  <main class="nbt-wrapper">
    {% if query %}
      {% with results.count as total_results %}
      <h1>{{total_results}} post{{ total_results|pluralize }} containing "{{ query }}"</h1>
      {% endwith %}

      {% for post in results %}
          <article class="nbt-card--horizontal nbt-margin-y--medium">
            <div class="nbt-card__image-wrapper" style="background-image: url( {{ post.featured_image.url }})">
              <p class="image-wrapper__publish-date">{{ post.publish|date:"F d, Y" }}</p>
            </div>
            <div class="nbt-card__text-wrapper">
              <h2 class="nbt-text--no-top-margin"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
              {{ post.body|truncatewords:50 }}</div>
          </article>
      {% empty %}
        <p>There are no results for your query.</p>
      {% endfor %}
      <p><a href="{% url "blog:post_search" %}">Search again</a></p>
    {% else %}
      <h1>Search for posts</h1>
      <form action="." method="get">
        {{ form.as_p }}
        <input type="submit" value="Search">
      </form>
    {% endif %}
  </main>
{% endblock %}
