.nbt-header {
  .flex(center, center, wrap);
}

.nbt-post__featured-image {
  width: 100%;
}

.nbt-barking-news-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  grid-auto-rows: 4.5px;
}

// .nbt-barking-news-grid__item {
//   display: block;
// }
